<td class="{{ name }}-col"{{#if width}} style="width:{{ width }}"{{/if}}>
  [mso_close]
  <div class="{{ name }} col{{#if class}} {{ class }}{{/if}}"{{#if width}} style="max-width:{{ width }}"{{/if}}>{{> @partial-block }}</div>
  [mso_open]
</td>