<div class="{{name}}-outer section" >
  [mso_open]
    <table cellspacing="0" padding="0" border="0" class="section-table {{name}}-table" align="center" role="presentation">
      <tr>
        <td class="{{name}}-inner section-inner" align="center" role="presentation">
  [mso_close]
  <div class="{{name}}{{#if class}} {{ class }}{{/if}}">{{> @partial-block }}</div>
  [mso_open]
        </td>
      </tr>
    </table>
  [mso_close]
</div>
